@import "common";
@charset "utf-8";
.ablum{
  position:relative;
  .ablum-tab{
    padding: 0 0 0 88px;
    margin-top:20px;
    ul{
      &:after{
        display: block;
        content: '';
        clear: both;
      }
      li{
        float:left;
        height:20px;
        color:$theme-color;
        cursor:pointer;
        color:#666;
        font-size:18px;
        &.active{
          color:$theme-color-active;
          border-bottom:2px solid $theme-color-active;
        }
        a{
          font-weight: bold;
        }
        &:last-child{
          margin-left:45px;
        }
      }
    }
  }
  .ablum-data-list{
    padding:0 83px;
    ul{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row;
          flex-flow: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top:20px;
      li{
        width:207px;
        margin-bottom:20px;
        &:not(:nth-child(4n)){
        margin-right:64px;
      }
        h1{
          font-weight:normal;
          font-size:14px;
          color:#333;
          @include limitLine(1);
          line-height:40px;
        }
        h5{
          font-weight: normal;
          font-size:14px;
          color:$theme-color;
          line-height:30px;
        }
        P{
          font-size:14px;
          color:#999;
          line-height:20px;
          @include limitLine(3);
        }
        .ablum-service{
          display: flex;
          width:207px;
          div{
            cursor: pointer;
            padding:5px 0;
          }
          div i{
            width:18px;
            height:17px;
            background:url('../img/album-service.png') no-repeat;
          }
          .msg{
            background-position:-40px 0;
          }
          .port{
            background-position:-20px 0;
          }
          div span{
            color:#999;
            padding:0 5px;
          }
        }
      }
    }
  }
  .ablum-want{
    position:absolute;
    left:219px;
    top:22px;
    button{
      padding:0;
      margin:0;
      border-radius:14px;
      width:70px;
      height:29px;
      background:$theme-color;
      outline: none;
      border:none;
      font-size:14px;
      color:#fff;
      cursor: pointer;
      &:hover{
        background:$theme-color-active;
      }
    }
  }
  .ablum-how{
    position:absolute;
    right:180px;
    top:0px;
    button{
      width:30px;
      height:89px;
      padding:0;
      margin:0;
      border-radius:0 0 14px 14px;
      background:#bababa;
      outline: none;
      border:none;
      font-size:16px;
      color:#fff;
      cursor: pointer;
      &:hover{
        background:$theme-color;
      }
    }
  }
}
.ablum-details{
  .ablum-details-wrapper{
    padding:0 83px;
    position:relative;
    h1{
      font-weight:normal;
      font-size:18px;
      color:#0c0c0c;
      margin-top:15px;
    }
    h6{
      font-weight:normal;
      font-size:12px;
      color:$theme-color;
      margin-top:15px;
    }
    .ablum-details-3d{
      width:100%;
      height:580px;
      iframe{
        width:100%;
        height:100%;
      }
    }
    h2{
      font-size:18px;
      color:$theme-color;
      line-height: 22px;
      margin-top:10px;
    }
    .ablum-details-intro{
      width:639px;
      font-size:12px;
      line-height: 22px;
      margin-top:15px;
      padding-left:53px;
    }
    .ablum-details-fullscreen{
      position:absolute;
      cursor: pointer;
      right:83px;
      top:623px;
      width:100px;
      height:30px;
      background:url('../img/fullscreen.png') no-repeat;
    }
    .ablum-details-comment{
      display: flex;
      flex-direction: row;
      margin-top:20px;
      textarea{
        width:573px;
        height:127px;
        margin-left:15px;
        resize: none;
      }
    }
    .ablum-details-emoji{
      display:flex;
      justify-content: space-between;
      margin-left:60px;
      width:573px;
      .ablum-details-emoji-state{
        width:20px;
        height:20px;
        background:url('../img/emoji.png') no-repeat;
        &.active{
          background-position:-22px 0;
        }
      }
      .ablum-details-emoji-submit{
        button{

        }
      }

    }
    .ablum-details-comment-content-more{
      width:684px;
      height:50px;
      text-align: center;
      color:$theme-color;
      background:#f7f7f7;
      span{
        line-height:50px;
      }
      img{
        margin-top: 10px;
      }
    }
  }

}
//表情样式

.com_form {
  width: 100%;
  position: relative
}

.input {
  width: 99%;
  height: 60px;
  border: 1px solid #ccc
}

.com_form p {
  height: 28px;
  line-height: 28px;
  position: relative;
  margin-top: 10px;
}

span.emotion {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
  background:url('../img/emoji.png') no-repeat;
}

span.emotion.active {
  background-position:-22px 0;
}

.qqFace {
  margin-top: 4px;
  background: #fff;
  padding: 2px;
  border: 1px #dfe6f6 solid;
}

.qqFace table td {
  padding: 0px;
}

.qqFace table td img {
  cursor: pointer;
  border: 1px #fff solid;
}

.qqFace table td img:hover {
  border: 1px #0066cc solid;
}

#show {
  width: 770px;
  margin: 20px auto;
  background: #fff;
  padding: 5px;
  border: 1px solid #DDD;
  vertical-align: top;
}

.sub_btn {
  position: absolute;
  right: 0px;
  top: 0;
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: .5em 2em .55em;
  color: #666;
  border:none;
  background: #e6e6e6;
}

.sub_btn:hover {
  color:#fff;
  background: $theme-color-active;
}
.comment-count{
  position:absolute;
  right:8px;
  bottom:45px;
  &.warr{
    color:red;
  }
}
.ablum-details-comment-hot{
  position:absolute;
  right:100px;
  top:669px;
  width:300px;
  ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top:20px;
    li{
      margin-bottom:20px;
      display:flex;
      .ablum-details-comment-hot-inf{
        margin-left:10px;
        h1{
          font-weight:normal;
          font-size:16px;
          color:#333;
          width: 160px;
          @include limitLine(1);
          line-height:40px;
          margin:0;
        }
        h5{
          font-weight: normal;
          font-size:14px;
          color:$theme-color;
          line-height:30px;
        }
        P{
          font-size:14px;
          color:#999;
          line-height:20px;
          @include limitLine(3);
        }
      }

      .ablum-service{
        display: flex;
        width:207px;
        div{
          cursor: pointer;
          padding:5px 0;
        }
        div i{
          width:18px;
          height:17px;
          background:url('../img/album-service.png') no-repeat;
        }
        .msg{
          background-position:-40px 0;
        }
        .port{
          background-position:-20px 0;
        }
        div span{
          color:#999;
          padding:0 5px;
        }
      }
    }
  }
}
.ablum-details-comment-first{
  width:680px;
  padding-bottom:10px;
  margin-bottom:15px;
  .ablum-details-comment-first-top{
    display:flex;
    flex-flow: row nowrap;
    align-content: center;
    margin-top:15px;
    span{
      display: inline-block;
      background:#f2fbf2;
      width:640px;
      u{
        line-height:40px;
        padding-left:10px;
        text-decoration: none;
        font-size:14px;
        color:$theme-color
      }
      i{
        padding-left:10px;
        line-height:40px;
        font-size:14px;
        font-style:normal;
        color:#ced2ce;
      }
    }
  }
  .ablum-details-comment-first-content{
    width:610px;
    margin-left:40px;
    padding:15px;
    p{
      font-size:12px;
      line-height:22px;
    }
    a{
      display: inline-block;
      padding-top:10px;
      font-size:12px;
      cursor: pointer;
      color:$theme-color-active;
    }
  }
  .ablum-details-comment-others-status{
    width:640px;
    margin-left:40px;
    opacity: 0;
    height:0;
    overflow:hidden;
    position:relative;
    left:-120px;
    top:0;
    background-color:#fff;
    &.show{
      opacity:1;
      height:auto;
      left:0px;
      background-color:#f7f7f7;
      transition: opacity 0.8s, height 0.8s,left 1s,background 0.8s;
    }
  }
  &{
    border-bottom:1px dashed #8e8e8e;
  }
  .ablum-details-comment-others{
    //margin-left:20px;
    .ablum-details-comment-others-top{
      display:flex;
      flex-flow: row nowrap;
      align-content: center;
      padding-top:10px;
      padding-left:28px;
      span{
        display: inline-block;
        width:620px;
        u{
          line-height:40px;
          padding-left:10px;
          text-decoration: none;
          font-size:14px;
          color:$theme-color
        }
        i{
          padding-left:10px;
          line-height:40px;
          font-size:14px;
          font-style:normal;
          color:#ced2ce;
        }
      }
    }
    .ablum-details-comment-others-content{
      padding:10px 0 10px 70px;
      p{
        font-size:12px;
        line-height:22px;
        width:550px;
      }
      a{
        display: inline-block;
        padding-top:10px;
        font-size:12px;
        color:$theme-color-active;
      }
    }
  }
}
