@import "common";
$theme-color:#008582;
$theme-color-active:#ea703a;
.wrapper{
  padding-bottom:14px;
}
.slider{
  height:455px;
}
.swiper-slide{
  text-align: center;
  a{
    width:192px;
    height:128px;
    img{
      width: 100%;/*宽高设置100%*/
      height: 100%;
      object-fit: contain;
      background:#e4e4e4;/*图片不够尺寸后背景色填充*/
    }
  }
}
.section-title{
  color:$theme-color;
  margin-bottom:22px;
  height:40px;
  overflow: hidden;
  background:url("../img/iocn_hehua.png") no-repeat;
  h3{
    float:left;
    font-size:18px;
    font-weight:normal;
    p{
      font-size:12px;
      padding-top:8px;
    }
  }
  >p{
    float:right;
    font-size:12px;
    margin-right:27px;
    line-height: 22px;
  }
}
.section{
  padding:30px 56px 0 54px;
  overflow: hidden;
  .section-layout-left{
      float:left;
      .section-content1{
        width:613px;
        ul{
          li{
            overflow: hidden;
            margin-bottom: 14px;
            .index_display_url{
              display:block;
              width:100%;
              height:18px;
              line-height:18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space:nowrap;
            }
            .new-img-content{
            }
            div{
              float:left;
              .index_display_url{
                color:rgba(0,0,0,0.8);
                &:hover{
                  text-decoration: underline;
                }
              }
              //a{
              //  color:#000;
              //  &:hover{
              //    color:#000;
              //    text-decoration: underline;
              //  }
              //}
              strong{
                font-weight:normal;
                font-size:14px;
              }
              p{
                margin-top:8px;
                color:$theme-color;
                font-size:12px;
                small{
                  padding:0 15px 0 0;
                  font-size:12px;
                }
                span{
                  font-size:12px;
                }
              }
              h6{
                height:34px;
                margin-top:5px;
                font-weight: normal;
                font-size:12px;
                @include limitLine(2);
                color:rgba(0,0,0,0.6);
                line-height: 1.52;
              }
              h5{
                width:200px;
                margin-top:10px;
                font-weight: normal;
                height:52px;
                @include limitLine(3);
                font-size:12px;
                color:rgba(0,0,0,0.6);
                line-height: 1.52;
              }
            }
          }
        }
      }
  }
  .section-layout-right{
    float:right;
    width:468px;
    position:relative;
    >img{
      position:absolute;
      left:-5px;
      top:69px;
    }
    .section-content2{
      ul{
        padding-left:20px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        li{
          overflow: hidden;
          margin:0 40px 38px 0;
          div{
            float:left;
            .ablum-title{
              margin:0px;
              width:162px;
              text-align: center;
            }
            h3{
              font-weight:normal;
              font-size:14px;
              a{
                color:#000;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            p{
              margin-top:7px;
              font-size:12px;
              line-height:1.42;
              color:rgba(0,0,0,.6);
              width:180px;
            }
            button{
              font-family: "Microsoft YaHei UI";
              outline: none;
              width:60px;
              height:20px;
              font-size:12px;
              margin-top:7px;
              border:1px solid $theme-color-active;
              border-radius:4px;
              color:$theme-color-active;
              background:#fff;
              padding:0;
              &:hover{
                color:#fff;
                background:$theme-color-active
              }
            }
          }
        }
      }
    }
  }
}
.virtual-enter{
  display: inline-block;
  line-height: 20px;
  outline: none;
  width:60px;
  height:20px;
  text-align: center;
  font-size:14px;
  margin-top:10px;
  border:1px solid $theme-color-active;
  border-radius:4px;
  color:$theme-color-active;
  background:#fff;
  padding:0;
  &:hover{
    color:#fff;
    background:$theme-color-active
  }
}
.swiper-container{
  width:995px;
  height:auto;
}
.swiper-button-prev{
  width:40px;
  height:40px;
  margin-left:30px;
  background:url('../img/slider.png') no-repeat;
  &:hover{

    background-position:0px -42px;
  }
}
.swiper-button-next{
  width:40px;
  height:40px;
  background:url('../img/slider.png') -42px 0 no-repeat;
  &:hover{
    background-position:-42px -42px;
  }
}
//去策展
.goAlbum{
  width:63px;
  height:21px;
  background:$theme-color-active;
  border-radius: 11.5px;
  color:#fff;
  border:none;
}