@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Microsoft YaHei UI";
  font-size: 16px;
  vertical-align: bottom; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #eee; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

button {
  font-family: "Microsoft YaHei UI";
  outline: none; }

.wrapper {
  width: 1200px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8); }

a {
  text-decoration: none;
  color: #008582; }
  a:hover, a.active {
    color: #ea703a; }

header {
  width: 1100px;
  height: 107px;
  padding: 27px 70px 0 30px; }
  header .header-top {
    width: 100%;
    overflow: hidden;
    position: relative; }
    header .header-top .header-top-left {
      float: left; }
      header .header-top .header-top-left ul {
        overflow: hidden; }
        header .header-top .header-top-left ul li {
          float: left;
          border-right: 1px solid #008582; }
          header .header-top .header-top-left ul li a {
            padding-left: 12px;
            padding-right: 12px; }
          header .header-top .header-top-left ul li:first-child a {
            padding-left: 0; }
          header .header-top .header-top-left ul li:last-child {
            border: none; }
    header .header-top .header-top-right {
      float: right;
      position: relative;
      width: 317px;
      height: 36px;
      margin-right: 112px; }
      header .header-top .header-top-right #search {
        width: 305px;
        height: 24px;
        border-radius: 6px;
        border: 1px solid #008582;
        padding: 5px; }
      header .header-top .header-top-right ul {
        position: absolute;
        overflow: hidden;
        right: 11px;
        top: 8px; }
        header .header-top .header-top-right ul li {
          float: left;
          width: 21px;
          height: 21px; }
          header .header-top .header-top-right ul li:first-child {
            padding-right: 10px;
            border-right: 1px solid #008582;
            background: url("../img/xj.png") no-repeat; }
          header .header-top .header-top-right ul li:last-child {
            margin-left: 10px;
            background: url("../img/fdj.png") no-repeat; }
    header .header-top button {
      position: absolute;
      right: 0px;
      top: 2px;
      font-size: 12px;
      background: #008582;
      color: #fff;
      outline: none;
      border: none;
      width: 93px;
      height: 32px; }
      header .header-top button:hover {
        background: #ea703a; }
  header .header-bottom {
    margin-top: 23px; }
    header .header-bottom a {
      float: left; }
    header .header-bottom nav {
      float: right;
      padding-top: 13px; }
      header .header-bottom nav ul li {
        float: left;
        padding: 0 20px; }
        header .header-bottom nav ul li a.mainactive {
          color: #008582;
          padding-bottom: 10px;
          border-bottom: 2px solid #ea703a; }

footer {
  width: 100%;
  height: 212px;
  background: #fff;
  border-top: 2px solid #008582; }
  footer p {
    margin: auto;
    font-size: 14px;
    text-align: center;
    padding-top: 36px; }
    footer p span {
      line-height: 25px; }
  footer ul {
    overflow: hidden;
    margin: auto;
    width: 786px;
    margin-top: 20px; }
    footer ul li {
      float: left;
      border-right: 1px solid #000; }
      footer ul li:last-child {
        border: none; }
      footer ul li a {
        color: #000;
        font-size: 12px;
        padding: 0 20px; }

/*面包屑*/
.breadcrumb {
  font-size: 18px;
  color: #008582;
  padding: 20px 83px 0px 83px; }
  .breadcrumb u {
    text-decoration: none;
    line-height: 30px; }
  .breadcrumb a {
    line-height: 30px; }
  .breadcrumb span {
    line-height: 30px; }
  .breadcrumb .tab-items {
    float: right; }
    .breadcrumb .tab-items button {
      border: none;
      color: #666;
      background: #f2f2f2;
      padding: 5px 20px;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #fff; }
      .breadcrumb .tab-items button:hover {
        color: #fff;
        background: #666;
        border-bottom: 2px solid #ea703a; }
      .breadcrumb .tab-items button.active {
        color: #fff;
        background: #666;
        border-bottom: 2px solid #ea703a; }

.PagePlugs {
  text-align: center; }

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px #008582; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #008582; }

.login {
  width: 100%;
  background: url("../img/login_bg.png") 100% 100% no-repeat; }
  .login .login_logo {
    padding-top: 84px;
    margin: 0 auto;
    text-align: center; }
  .login .login_lin {
    margin: 0 auto;
    margin-top: 63px;
    width: 1118px;
    border-bottom: 1px solid #008582; }
  .login .login_outer {
    margin: 0 auto;
    margin-top: 63px;
    width: 800px; }
    .login .login_outer .login_box {
      width: 800px;
      min-height: 470px;
      margin: 0 auto;
      background: #f9f9f9; }
      .login .login_outer .login_box p {
        text-align: center;
        font-size: 14px;
        color: #999;
        padding-top: 60px; }
      .login .login_outer .login_box .login_user {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .login .login_outer .login_box .login_user label {
          display: inline-block;
          width: 26px;
          height: 32px;
          background: url("../img/user.png") 0 -2px no-repeat; }
        .login .login_outer .login_box .login_user .userpwdicon {
          background-position: -28px -0px; }
        .login .login_outer .login_box .login_user input {
          padding: 0px;
          margin-left: 25px;
          width: 254px;
          height: 37px;
          border: 1px solid #ddd;
          outline: none;
          font-size: 14px; }
          .login .login_outer .login_box .login_user input:focus {
            border: 1px solid #ea703a; }
        .login .login_outer .login_box .login_user span {
          position: absolute;
          right: 106px;
          top: 12px;
          width: 134px; }
          .login .login_outer .login_box .login_user span i {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../img/remind.png") no-repeat; }
          .login .login_outer .login_box .login_user span .error {
            background-position: -18px 0; }
          .login .login_outer .login_box .login_user span u {
            padding-left: 8px;
            text-decoration: none;
            font-size: 12px; }
      .login .login_outer .login_box .login_code {
        margin-top: 20px;
        display: flex;
        width: 800px;
        align-items: center;
        justify-content: center; }
      .login .login_outer .login_box .login_btn {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .login .login_outer .login_box .login_btn button {
          margin-left: 50px;
          outline: none;
          border: none;
          background: #ea703a;
          width: 254px;
          height: 38px;
          color: #fff;
          font-size: 20px; }
      .login .login_outer .login_box .service {
        margin: 0 auto;
        margin-top: 8px;
        width: 254px;
        font-size: 12px;
        padding-left: 50px; }
        .login .login_outer .login_box .service span {
          padding-left: 82px;
          font-size: 12px; }
        .login .login_outer .login_box .service a {
          font-size: 12px; }
          .login .login_outer .login_box .service a u {
            font-size: 12px; }
      .login .login_outer .login_box .third-party {
        margin-top: 38px; }
        .login .login_outer .login_box .third-party h6 {
          text-align: center;
          color: #999;
          font-weight: normal;
          font-size: 14px; }
        .login .login_outer .login_box .third-party ul {
          margin-top: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .login .login_outer .login_box .third-party ul li {
            width: 48px;
            height: 48px;
            background: url("../img/three_part.png") no-repeat;
            margin-right: 10px; }
            .login .login_outer .login_box .third-party ul li:last-child {
              margin-right: 0px; }
            .login .login_outer .login_box .third-party ul li:last-child {
              background-position: -50px 0; }

/*# sourceMappingURL=login.css.map */
