<img src='img/museum-banner.png' alt="">
<div class="ablum">
    <p class="breadcrumb">
        <a ui-sref="home">首页</a><u>&gt;&gt;</u><span>策展列表</span>
    </p>
    <div class="ablum-tab">
        <ul>
            <li ng-class="{active:tabpage==0}" ng-click="changeTab(0)">最新</li>
            <li ng-class="{active:tabpage==1}" ng-click="changeTab(1)">最热</li>
        </ul>
    </div>
    <div class="ablum-want">
        <button>我要策展</button>
    </div>
    <div class="ablum-how">
        <button>如何策展</button>
    </div>
    <div class="ablum-data-list">
        <ul>
            <li>
                <a ui-sref="ablumdetails">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li><li>
                <a href="">
                    <img src="img/album-list.png" width="161" height="109" alt="">
                </a>
                <h1>宋朝陶瓷文物展是的发生的发生的收到防辐射的</h1>
                <h5>同是天涯沦落人</h5>
                <p>
                    宋朝瓷器文物展示2016年在山东菏泽出土的一批文物，再现了宋sdfasdfasdfasdfa朝瓷器制作技艺的精髓...
                </p>
                <div class="ablum-service">
                    <div class="ablum-service">
                        <i class="msg"></i><span>11</span>
                    </div>
                    <div class="ablum-service">
                        <i ></i><span>8</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="PagePlugs" style="margin:20px 0"></div>
    </div>
</div>