<div class="video-content" ng-init="$scope.video()">
    <video id="my-player"
           class="video-js"
           controls
           preload="auto"
           poster="//vjs.zencdn.net/v/oceans.png"
           data-setup='{}'
    >
        <source ng-src="{{url}}" type="video/mp4"></source>
        <source ng-src="{{url}}" type="video/webm"></source>
        <source ng-src="{{url}}" type="video/ogg"></source>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>
</div>