<div class="header-top">
    <div class="header-top-left">
        <ul ng-if="!userinfor">
            <li><a ui-sref="login">登录</a></li>
            <li><a ui-sref="Register">注册</a></li>
        </ul>
        <ul ng-if="userinfor">
            <li>欢迎<a href="" ng-bind="userinfor.sessionAdminName"></a></li>
            <li><a ng-click="logout($event)" style="cursor: pointer">退出</a></li>
        </ul>
    </div>
    <div class="header-top-right">
        <input type="text" id="search" ng-trim="true">
        <ul>
            <li>
                <input type="file" style="width:21px;height:21px;opacity: 0;overflow: hidden;">
            </li>
            <li ng-click="gocollection()"></li>
        </ul>
    </div>
    <button ng-click="goback($event)"><a>信息管理平台</a></button >
</div>
<div class="header-bottom">
    <a ui-sref="home" class="heaer-logo">
        <img src="img/logo.png" alt="" style="margin-left:24px;padding-bottom:20px">
    </a>
    <nav>
        <ul>
            <li><a ui-sref="home" ui-sref-active="mainactive">首页</a></li>
            <li><a ui-sref="museum.museumMap" ui-sref-active="mainactive">博物馆</a></li>
            <li><a ui-sref="display({museum:''})" ui-sref-active="mainactive">展览</a></li>
            <li><a ui-sref="digitization({museum:'',id:''})" ui-sref-active="mainactive">数字展厅</a></li>
            <li><a ui-sref="collection({museum:'',type:'',keywords:'',id:''})" ui-sref-active="mainactive">藏品</a></li>
            <li><a ui-sref="Wiki" ui-sref-active="mainactive">文物百科</a></li>
            <!--<li><a>文物百科</a></li>-->
        </ul>
    </nav>
</div>
