<div class="slider">
    <ul>
        <li ng-repeat="slide in slides" repeat-done="slider()">
            <a href="">
                <img ng-src="{{slide.ur}}" width="1200" style="margin:auto;">
            </a>
        </li>
    </ul>
</div>
<div class="section">
    <div class="section-layout-left">
        <div class="section-title">
            <h3>最新展览 <p>New Exhibitions</p></h3>
            <p><a ui-sref="display">更多>></a></p>
        </div>
        <div class="section-content1">
            <ul>
                <li ng-repeat="d in data.spreList">
                    <div class="new-img-content">
                        <a ui-sref="displaydetails({id:d.id,type:'inner'})" target="_blank"><img ng-src="{{d.pictureThumb}}" width="136" height="76" alt=""></a>
                    </div>
                    <div style="padding-left:34px;width:436px">
                        <a ui-sref="displaydetails({id:d.id})" ng-bind="d.headline"><strong></strong></a>
                        <p>
                            <small ng-bind="d.musExhibition"></small>
                            <span ng-show="d.staTime" ng-bind="'['+d.staTime+']-['+d.overTime+']'"></span></p>
                        <h6 ng-bind-html="d.content">
                        </h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-layout-right">
        <div class="section-title"
             style="background:url('img/icon_heye.png') no-repeat;background-position: 76px 15px;">
            <h3>文物百科 <p>Relics-Wiki</p></h3>
            <p style="margin:0"><a href="">更多>></a></p>
        </div>
        <img src="img/line.png" alt="">
        <div class="section-content2">
            <ul>
                <li style="margin:0;margin-bottom:20px;">
                    <div>
                        <a href=""><img src="img/pic2.png" width="192" height="128" alt=""></a>
                    </div>
                    <div style="width:200px;padding-left:19px;display: flex;flex-direction: column">
                        <h3><a href="">玉猪龙</a></h3>
                        <p>
                            我国古代对发现于红山等地的一种玉器的称呼，又名玉兽玦。
                        </p>
                        <button>编辑词条</button>
                    </div>
                </li>
                <li style="margin:0">
                    <div>
                        <a href=""><img src="img/pic2.png" width="192" height="128" alt=""></a>
                    </div>
                    <div style="width:220px;padding-left:19px;">
                        <h3><a href="">玉猪龙</a></h3>
                        <p>
                            我国古代对发现于红山等地的一种玉器的称呼，又名玉兽玦。
                        </p>
                        <button>编辑词条</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <a ui-sref="museum.museumMap">
        <img src="img/map_enter.png" alt="">
    </a>
</div>
<div class="section">
    <div class="section-layout-left">
        <div class="section-title">
            <h3>虚拟展厅 <p>Virtual Exhibition Hall</p></h3>
            <p><a ui-sref="digitization">更多>></a></p>
        </div>
        <div class="section-content1">
            <ul>
                <li ng-repeat="r in data.virtualList|limitTo:2" style="margin-bottom:30px">
                    <div>
                        <img ng-src="{{r.pictureThumb}}" width="297" height="167" alt="">
                    </div>
                    <div style="padding-left:34px;width:259px;margin-top:15px;">
                        <strong style="font-size: 16px;font-style:italic;font-weight: normal" ng-bind="r.viName"></strong>
                        <p style="color:#008582;font-size:12px;font-style: normal;font-weight: normal" ng-bind="r.musExhibition">
                        </p>
                        <h5 ng-bind="r.viIntro"></h5>
                        <a class="virtual-enter" href="{{r.viPCUrl}}" target="_blank" style="padding:6px;">点击进入</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-layout-right" style="width:435px;">
        <div class="section-title" style="width:409px;margin-bottom:55px;">
            <h3>我要册展 <p>Curating</p></h3>
            <p style="margin:0"><a ui-sref="ablum">更多>></a></p>
            <button class="goAlbum" >开始！</button>
        </div>
        <img src="img/line.png" alt="" style="left:-70px">
        <div class="section-content2">
            <ul>
                <li>
                    <div>
                        <a href=""><img src="img/pic4.png" width="162" height="110" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/pic4.png" width="162" height="110" alt=""></a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href=""><img src="img/pic4.png" width="162" height="110" alt=""></a>
                    </div>
                </li><li>
                    <div>
                        <a href=""><img src="img/pic4.png" width="162" height="110" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-title">
        <h3 style="line-height: 40px;">精品藏品 <span>Precious Collections</span></h3>
        <p style="margin:0"><a ui-sref="collection">更多>></a></p>
    </div>
</div>
<div style="position:relative">
    <div class="collection swiper-container" style="height:128px;">
        <ul class="swiper-wrapper">
            <li class="swiper-slide" ng-repeat="i in data.culList" repeat-done="swiper()">
                <a ui-sref="collectiondetails({type:(i.mipOpenCulturalrelicInfo.collectionType?'Relic':'specimen'),id:i.mipOpenCulturalrelicInfo.id})">
                    <img ng-src="{{i.picture.thumb3}}" width="192" height="128" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next" style="right:50px;"></div>
</div>

