<div class="register">
    <p class="breadcrumb" style="padding-left:18px;padding-bottom: 20px;">
        <a ui-sref="home">首页</a><u>&gt;&gt;</u><span>注册</span>
    </p>
    <div class="register-guide">
        <ul>
            <li><span>1.填写账户信息</span></li>
            <li><span>2.注册成功</span></li>
        </ul>
    </div>
    <form action="" class="register-form">
        <table>
            <tbody>
            <tr>
                <td><label for="">用户昵称：</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label for="">手机号码：</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label for="">输入下图验证码：</label></td>
                <td><input type="text"></td>
            </tr>
            <tr style="line-height: 80px;">
                <td></td>
                <td><img src="" width="178" height="54" alt="" style="vertical-align:middle"><span style="line-height:80px"><small style="padding-left:15px">看不清？</small><a>换张图</a></span></td>
            </tr>
            <tr>
                <td><label for="">短信验证码：</label></td>
                <td><input type="text" style="width:182px;margin-right:20px;"><button class="register-msn">获取验证码</button></td>
            </tr>
            <tr>
                <td><label for="">登录密码：</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label for="">确认密码：</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" style="width:15px;height:15px;"><label for="">本人已阅读并同意注册协议</label></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="register-submit" value="注册">
        <p style="width:254px;text-align: left;margin:10px auto 0">已有账号？<a ui-sref="">请登录</a></p>
    </form>
</div>