<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>文博山东</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="favicon.ico">
</head>
<body ng-controller="ParentControl">
<div ng-class="{wrapper:showIndex}">
    <header ng-include="'template/header.html'" ng-if="showIndex"></header>
    <div ui-view>

    </div>
</div>
<footer ng-include="'template/footer.html'" ng-if="showIndex"></footer>
<div ui-view="login"></div>
<script type="text/javascript" src="js/libs/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/libs/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/libs/layer/layer.js"></script>
<script type="text/javascript" src="js/libs/laypage.js"></script>
<script type="text/javascript" src="js/libs/swiper-3.4.1.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.qqFace.js"></script>
<script type="text/javascript" src="js/libs/angular.min.js"></script>
<script type="text/javascript" src="js/libs/angular-ui-router.js"></script>
<script type="text/javascript" src="js/libs/angular-sanitize.min.js"></script>
<script src="http://localhost:8088/bundle.js"></script>
<!--<script src="js/bundle.js"></script>-->
</body>
</html>